html {
  font-family: Avenir, serif, "Times New Roman";
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
  background-color: #ffffff;
}

header{
  padding-right: 0%;
  padding-left: 0%;
  padding-bottom: 25em;
}

main{
  padding-top: 2em;
}


h1 {
  color: #33cc33;
  font-size: 2.5em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  text-align: center;
}


h2 {
  color: black;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.222em;
}

h3 {
  font-size: 1.5em; /* 20 / 18 = 1.111111--- 1.11-.987=.123 */
  line-height: 1.623em ;/* 50 / 20 = 2.5 */
  color: gray;
}

footer {
  font-size: 1em;
  line-height: 2.5em;/* 50 / 20 = 2.5 */
  text-align: right;
  font-weight: bold;
  color: black;
  padding-top: 2em;
}

#banner {
  background-image: url("images/vamosgroup.jpg");
  background-position: top;
  padding-top: 5.25em; /* 137.5/22 = 5.25*/
  background-size: cover;
  background-repeat: no-repeat;
}

#banner2{
  background-image: url("images/aboutpagepic.jpg");
  background-position: top;
  padding-top: 5.25em; /* 137.5/22 = 5.25*/
  background-size: cover;
  background-repeat: no-repeat;
}


#navigation {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}



#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.8em; /* 11 / 18 = 0.611 */
  padding-bottom: 0.8em;
  text-align: center;
  text-decoration: none; /* removes underlines */
  color: white;
  background-color: black;
}

#navigation a:hover {
  background-color: gray;
}

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
  padding-top: 0;
}


img {
  display: inline-block;
  max-width: 100%;
}

img.aboutpagepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(100, 100, 100, .7);
}


/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/


@media screen and (min-width: 200px) {
  main {
    padding-right: 10.666667%; /* 40 / 375 = 10.666667% */
    padding-left: 10.666667%; /* 40 / 375 = 10.666667% */
  }


  .flexbox #navigation li {
    flex-basis: 100%;
  }

  #navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }


  #navigation li {
    float: center;
    width: 90%;
    bottom: 0;
    font-weight: bold;
    font-size: 0.75em; /* 13.503 / 18 = 0.75 */
  }


}

@media screen and (min-width: 640px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25em */
  }

  #banner {
    background-attachment: fixed;
    background-position: center;
  }

  #logo {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 5%;
  }
}

@media screen and (min-width: 860px) {

  main {
    padding-right: 5.302325581%; /* 80 / 860 = 0.09302325581% */
    padding-left: 5.302325581%; /* 80 / 860 = 0.09302325581% */
  }

  #logo {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 5%;
  }

  #navigation li {
    float: left;
    width: 16.2433%;
    bottom: 0;
    font-weight: bold;
    font-size: 0.75em; /* 13.503 / 18 = 0.75 */
  }

  #primary {
    width: 48%;
    float: left;
  }
  #supporting {
    width: 49%;
    margin-left: 3%;
    float: left;
  }

  #footer {
    clear: both;
  }

  .flexbox #primary,
  .flexbox #supporting {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

    h2 {
      padding-top: 0em;
    }

    #banner {
  padding-top: 10.5em; /* 187/22 = 8.5*/
  }

  }

}
