html {
  font-family: Avenir, serif, "Times New Roman";
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
  background-color: #ffffff;
}

body {
  padding-top: 0em; /* 66 / 18 = 3.667... */
  padding-right: 1.22em; /* 22 / 18 = 1.2222222222 */
  padding-left: 1.22em;
}



h1 {
  color: #33cc33;
  font-size: 3.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 1em; /* 22 / 42.635 = 0.516 */
  text-align: center;
}


h2 {
  font-size: 2.48em; /* 30 /18 = 1.666666667   1.667-1.48=0.187*/
  line-height: 1.187em ;/* 60 / 30 = 2 */
  font-weight: bold;
  color: gray;
  padding-top: 0 ;
}

h3 {
  font-size: 0.987em; /* 20 / 18 = 1.111111--- 1.11-.987=.123 */
  line-height: 1.623em ;/* 50 / 20 = 2.5 */
  color: gray;
}

footer {
  font-size: 1em;
  line-height: 2.5em;/* 50 / 20 = 2.5 */
  text-align: right;
  font-weight: bold;
  color: black;
  padding-top: 2em;
}


#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}


#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.8em; /* 11 / 18 = 0.611 */
  padding-bottom: 0.8em;
  text-align: center;
  text-decoration: none; /* removes underlines */
  color: white;
  background-color: black;
}

#navigation a:hover {
  background-color: gray;
}

img {
  display: inline-block;
  max-width: 100%;
}

img.aboutpagepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/


@media screen and (min-width: 200px) {
  body {
    padding-right: 10.666667%; /* 40 / 375 = 10.666667% */
    padding-left: 10.666667%; /* 40 / 375 = 10.666667% */
  }


  .flexbox #navigation li {
    flex-basis: 100%;
  }

  #navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 6.66667em;
  }

  #navigation ul,
  #navigation li {
    list-style-type: none;
    padding-bottom:0;
    padding-top: 0;
  }


  #navigation li {
    float: center;
    width: 90%;
    bottom: 0;
    font-weight: bold;
    font-size: 0.75em; /* 13.503 / 18 = 0.75 */
  }

  h2 {
    padding-top: 5em;
  }


}

@media screen and (min-width: 640px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25em */


}

@media screen and (min-width: 860px) {
  body {
    padding-right: 5.302325581%; /* 80 / 860 = 0.09302325581% */
    padding-left: 5.302325581%; /* 80 / 860 = 0.09302325581% */
  }

  #navigation {
    padding-bottom:10em;
  }

  #navigation li {
    float: left;
    width: 16.2433%;
    bottom: 0;
    font-weight: bold;
    font-size: 0.75em; /* 13.503 / 18 = 0.75 */
  }

  #primary {
    width: 48%;
    float: left;
  }
  #supporting {
    width: 49%;
    margin-left: 3%;
    float: left;
  }

  #footer {
    clear: both;
  }

  .flexbox #primary,
  .flexbox #supporting {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

    h2 {
      padding-top: 0em;
    }

  }

}
